<footer class="fonodoReproductor text-center text-lg-start" *ngIf="ver">
  <button class="btn text-danger float-end fonodoReproductor" (click)="ocultar()" >
    ❌
  </button>
  <div class="music-player">
    <div class="song-bar">
      <div class="song-infos">
        <div class="image-container">
          <img [src]="track.album.images | noImage" alt="" />
        </div>
        <div class="song-description">
          <p class="title">
            {{track.name}}
          </p>
          <p class="artist">{{track.artists[0].name}}</p>
        </div>
      </div>
    </div>
    <div class="progress-controller">
      <div class="control-buttons">
        <i class="play-pause fas fa-play" *ngIf="!musicaActiva" (click)="cambioPlay()"></i>
        <i class="play-pause fas fa-pause" *ngIf="musicaActiva" (click)="cambioPlay()"></i>
        <i class="fas fa-undo-alt" id="botonLoop" (click)="auto()"></i>
      </div>
      <div class="progress-container">
        <span>{{this.progresoAudio*1000 | date:  'mm:ss'  }}</span>
        <div class="progress-bar">
          <input id="rangoVolumenDos" min="0" max="{{this.audio.duration}}" type="range" (input)="cambiarMusica()" class="w-100 progress-audio">
        </div>
        <span>{{this.audio.duration*1000 | date:  'mm:ss'  }}</span>
      </div>
    </div>
    <div class="other-features">
      <div class="volume-bar">
        <i class="fas fa-volume-down active" #volumenIcono (click)="mutear(volumenIcono)"></i>
        <div class="progress-bar">
          <input  type="range" min="0" max="100" #rangeVolumen  (input)="cambiarVolumen(rangeVolumen.value,volumenIcono)" class="w-100 progress">
        </div>
      </div>
    </div>
  </div>
</footer>
